<div class="row">
    <div class="col-6">
        <app-dona [titulo]="tituloG1"
                [labels]="labelsG1"
                [data]="dataG1"></app-dona>
    </div>
    <div class="col-6">
        <app-dona [titulo]="tituloG2"
                [labels]="labelsG2"
                [data]="dataG2"></app-dona>
    </div>
</div>
<div class="row">
    <div class="col-6">
        <app-dona [titulo]="tituloG3"
                [labels]="labelsG3"
                [data]="dataG3"></app-dona>
    </div>
    <div class="col-6">
        <app-dona [titulo]="tituloG4"
                [labels]="labelsG4"
                [data]="dataG4"></app-dona>
    </div>
</div>